<div class="container">
  <div class="row">
    <div class="col-md-8 margin-top30 showBox">
      <h1>
        個人情報
      </h1>
      <p><span class="sub">名前   ：</span>　<%= @user.name %></p>
      <p><span class="sub">メール：</span><%= @user.email %></p>
      <div>
          <%= link_to "編集する", edit_user_path %>
      </div>
      <div class="d-flex margin-bottom30">
        <div class="margin-auto margin-right">
          <%= link_to "登録者一覧", users_path, class: "btn btn-lg btn-success" %>
        </div>
        <div class="margin-auto margin-left">
          <%= link_to "会社登録", new_client_path, class: "btn btn-lg btn-success" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group search-form">
    <%= search_form_for @q do |f| %>
		  <%= f.search_field :company_cont, class: "form-control", :placeholder => "Enter Search client ...." %>
		<% end %>
  </div>
</div>