<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-md-12 scroller infoBox">
      <p>会社名</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">会社名</th>
            <th scope="col">名前</th>
            <th scope="col">電話番号</th>
            <th scope="col">Eメール</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <th scope="row"><%= client.id %></th>
              <td><%= client.company %></td>
              <td><%= client.name %></td>
              <td><%= client.phonenumber %></td>
              <td><%= client.email %></td>
              <td><%= link_to '詳細', client %></td>
              <td><%= link_to '編集', edit_client_path(client) %></td>
              <td><%= link_to '削除', client, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
            </tr>
          <% end %>
          <%= paginate @clients %>
        </tbody>
      </table>
    </div>
</div>
