<div class="col-md-4 infoBox userBox">
  <div>
    <p>ユーザー情報</p>
    <div id="clientInfo">
      <table>
        <tr>
          <td>会社名：</td>
          <td class="tb">
            <%= @client.company %>
          </td>
        </tr>
        <tr>
          <td>名前：</td>
          <td class="tb">
            <%= @client.name %>
          </td>
        </tr>
        <tr>
          <td>電話番号：</td>
          <td class="tb">
            <%= @client.phonenumber %>
          </td>
        </tr>
        <tr>
          <td>email：</td>
          <td class="tb">
            <%= @client.email %>
          </td>
        </tr>
        <tr>
          <td>レビュー：</td>
          <td class="tb">
            <!--★★★★★-->
            <div class="star-rating-front" style="width: <%= @client.review_score_percentage %>%">★★★★★</div>
            (<%= @client.avg_score %>点)
            <%= link_to client_reviews_path(@client), class: "button light ml-3 mt-3 review-btn" do %>
              レビューをする
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="col-md-4 infoBox userBox">
  <div>
    <p>補足情報</p>
    <div id="clientInfo">
      <table>
        <tr>
          <td class="tb">
            <%= @client.content %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>